<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<ul class="navbar-nav">
		<f:for each="{mainMenu}" as="item">
			<li class="nav-item">
				<f:if condition="{item.data.doktype} == 3">
					<f:then>
						<a class="nav-link" href="{item.link}" target="{item.target}">{item.title}</a>
					</f:then>
					<f:else>
						<a class="nav-link" href="/#{item.data.ww_css_id}">{item.title}</a>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
</f:spaceless>
</html>
