<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<nav id="mainmenu" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/#maincontent">
				<f:if condition="{settings.logoFile}">
					<f:then>
						<f:image src="{settings.logoFile}" height="40" alt="{settings.logoText}"/>
					</f:then>
					<f:else>
						{settings.logoText}
					</f:else>
				</f:if>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
							aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<f:render partial="MainMenu" arguments="{_all}"/>
			</div>
		</div>
	</nav>
	<f:render section="Main"/>
	<div id="pagefooter">
		<div class="container">
			<p class="text-center">
				{settings.logoText} | &copy; <a href="https://wwagner.net">Wolfgang Wagner</a>
			</p>
			<f:render partial="MetaMenu" arguments="{_all}"/>
		</div>
	</div>
</f:spaceless>
</html>
